<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" android:sharedUserId="android.uid.system" android:sharedUserLabel="@string/oppo_system_label" coreApp="true" package="oppo" platformBuildVersionCode="29" platformBuildVersionName="10">
    <eat-comment/>
    <protected-broadcast android:name="android.intent.action.SCREEN_OFF"/>
    <protected-broadcast android:name="android.intent.action.SCREEN_ON"/>
    <protected-broadcast android:name="android.intent.action.USER_PRESENT"/>
    <protected-broadcast android:name="android.intent.action.TIME_TICK"/>
    <protected-broadcast android:name="android.intent.action.TIMEZONE_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.BOOT_COMPLETED"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_INSTALL"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_ADDED"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_REPLACED"/>
    <protected-broadcast android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_REMOVED"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_RESTARTED"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_DATA_CLEARED"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_FIRST_LAUNCH"/>
    <protected-broadcast android:name="android.intent.action.PACKAGE_NEEDS_VERIFICATION"/>
    <protected-broadcast android:name="android.intent.action.UID_REMOVED"/>
    <protected-broadcast android:name="android.intent.action.CONFIGURATION_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.LOCALE_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.BATTERY_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.BATTERY_LOW"/>
    <protected-broadcast android:name="android.intent.action.BATTERY_OKAY"/>
    <protected-broadcast android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
    <protected-broadcast android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
    <protected-broadcast android:name="android.intent.action.ACTION_SHUTDOWN"/>
    <protected-broadcast android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
    <protected-broadcast android:name="android.intent.action.DEVICE_STORAGE_OK"/>
    <protected-broadcast android:name="android.intent.action.DEVICE_STORAGE_FULL"/>
    <protected-broadcast android:name="android.intent.action.DEVICE_STORAGE_NOT_FULL"/>
    <protected-broadcast android:name="android.intent.action.NEW_OUTGOING_CALL"/>
    <protected-broadcast android:name="android.intent.action.REBOOT"/>
    <protected-broadcast android:name="android.intent.action.DOCK_EVENT"/>
    <protected-broadcast android:name="android.intent.action.MASTER_CLEAR_NOTIFICATION"/>
    <protected-broadcast android:name="android.intent.action.USER_ADDED"/>
    <protected-broadcast android:name="android.intent.action.USER_REMOVED"/>
    <protected-broadcast android:name="android.intent.action.USER_SWITCHED"/>
    <protected-broadcast android:name="android.app.action.ENTER_CAR_MODE"/>
    <protected-broadcast android:name="android.app.action.EXIT_CAR_MODE"/>
    <protected-broadcast android:name="android.app.action.ENTER_DESK_MODE"/>
    <protected-broadcast android:name="android.app.action.EXIT_DESK_MODE"/>
    <protected-broadcast android:name="android.backup.intent.RUN"/>
    <protected-broadcast android:name="android.backup.intent.CLEAR"/>
    <protected-broadcast android:name="android.backup.intent.INIT"/>
    <protected-broadcast android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
    <protected-broadcast android:name="android.bluetooth.adapter.action.SCAN_MODE_CHANGED"/>
    <protected-broadcast android:name="android.bluetooth.adapter.action.DISCOVERY_STARTED"/>
    <protected-broadcast android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED"/>
    <protected-broadcast android:name="android.bluetooth.adapter.action.LOCAL_NAME_CHANGED"/>
    <protected-broadcast android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.FOUND"/>
    <protected-broadcast android:name="android.bluetooth.device.action.DISAPPEARED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.CLASS_CHANGED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.ACL_CONNECTED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.ACL_DISCONNECT_REQUESTED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.ACL_DISCONNECTED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.NAME_CHANGED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.BOND_STATE_CHANGED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.NAME_FAILED"/>
    <protected-broadcast android:name="android.bluetooth.device.action.PAIRING_REQUEST"/>
    <protected-broadcast android:name="android.bluetooth.device.action.PAIRING_CANCEL"/>
    <protected-broadcast android:name="android.intent.action.RESTORE_DEFA_SETTINGS"/>
    <protected-broadcast android:name="oppo.intent.action.ROM_APP_CHANGE"/>
    <protected-broadcast android:name="oppo.intent.action.APP_SWITCH"/>
    <protected-broadcast android:name="android.intent.action.OPPO_GUARD_ELF_MONITOR"/>
    <protected-broadcast android:name="android.intent.action.OPPO_GUARD_ELF_COUNT_RESTRICT_LIST"/>
    <protected-broadcast android:name="android.intent.action.OPPO_GUARD_ELF_MONITOR_FORCESTOP"/>
    <protected-broadcast android:name="android.intent.action.OPPO_GUARD_ELF_SCREENON_WAKELOCK"/>
    <protected-broadcast android:name="android.intent.action.OPPO_APP_FROZEN_DCS_UPLOADE"/>
    <protected-broadcast android:name="oppo.intent.action.OPPO_OTA_UPDATE_SUCCESSED"/>
    <protected-broadcast android:name="oppo.intent.action.OPPO_OTA_UPDATE_FAILED"/>
    <protected-broadcast android:name="oppo.intent.action.OPPO_SAU_UPDATE_SUCCESSED"/>
    <protected-broadcast android:name="oppo.intent.action.OPPO_SAU_UPDATE_FAILED"/>
    <protected-broadcast android:name="oppo.intent.action.OPPO_RECOVER_UPDATE_SUCCESSED"/>
    <protected-broadcast android:name="oppo.intent.action.OPPO_RECOVER_UPDATE_FAILED"/>
    <protected-broadcast android:name="oppo.intent.action.PACKAGE_ADDED"/>
    <protected-broadcast android:name="oppo.intent.action.PACKAGE_REMOVED"/>
    <permission android:name="android.permission.GLOBAL_SEARCH" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="privileged|signature"/>
    <permission android:name="android.permission.GLOBAL_SEARCH_CONTROL" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="signature"/>
    <permission android:name="android.permission.SET_WALLPAPER_COMPONENT" android:permissionGroup="android.permission-group.SYSTEM_TOOLS" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.RUTILCMD" android:protectionLevel="privileged|signature"/>
    <permission android:name="oppo.permission.OPPO_COMPONENT_SAFE" android:protectionLevel="signature"/>
    <permission android:name="com.oppo.permission.safe.BACKUP" android:protectionLevel="signature"/>
    <permission android:name="com.oppo.permission.safe.SECURITY" android:protectionLevel="signature"/>
    <permission android:name="com.oppo.permission.safe.PRIVATE" android:protectionLevel="signature"/>
    <permission android:name="com.oppo.permission.safe.RUS" android:protectionLevel="signature"/>
    <permission android:name="com.oppo.permission.safe.SAU" android:protectionLevel="signature"/>
    <permission android:name="com.oppo.permission.safe.FACE" android:protectionLevel="signature"/>
    <permission android:name="com.oppo.permission.safe.FINGERPRINT" android:protectionLevel="signature"/>
    <permission android:name="com.oppo.permission.safe.ACCOUNTS" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.SAFE_MANAGER" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.APP_MANAGER" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.DCS" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.UPDATE" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.PUSH" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.AI_APP" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.MMS" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.PHONE" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.KEYGUARD" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.LOCATION" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.NFC" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.CONNECTIVITY" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.BLUETOOTH" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.CAMERA" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.CLIPBOARD" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.LOG" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.CLOUD" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.SENSOR" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.IOT" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.PROTECT" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.SDCARD" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.USB" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.EMAIL" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.SETTINGS" android:protectionLevel="privileged|signature"/>
    <permission android:name="com.oppo.permission.safe.PICTURE" android:protectionLevel="privileged|signature"/>
    <application android:allowClearUserData="false" android:backupAgent="com.android.server.backup.SystemBackupAgent" android:extractNativeLibs="true" android:hasCode="false" android:icon="@android:drawable/ic_lockscreen_unlock_activated" android:killAfterRestore="false" android:label="@string/oppo_system_label" android:persistent="true" android:process="system"/>
</manifest>